@keyframes right {
  0% {
    top: 50%;
    left: 50%; }
  50% {
    top: 130px;
    left: 90px; }
  100% {
    top: 50%;
    left: 50%; } }

@keyframes below {
  0% {
    top: 0px; }
  50% {
    top: 200px; }
  75% {
    top: 500px; }
  100% {
    top: 100px; } }

#box1, #box2 {
  background: black;
  border-color: green;
  color: blue;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  position: relative;
  margin: auto;
  font-size: 20px;
  animation-name: below;
  animation-duration: 2.6s;
  animation-iteration-count: 4;
  animation-direction: normal;
  animation-timing-function: ease-in-out; }

#explode, #other {
  background: black;
  border-color: green;
  color: blue;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  position: relative;
  margin: auto;
  font-size: 20px;
  animation-duration: 2.6s;
  animation-name: right;
  animation-iteration-count: 4;
  animation-direction: normal;
  animation-timing-function: ease-in-out; }
